python-telegram-bot==20.6
selenium==4.15.2
easyocr==1.7.0
opencv-python==4.9.0.80
pillow==10.3.0
numpy==1.26.4
reportlab==4.2.0
beautifulsoup4==4.12.3
img2pdf==0.5.1
webdriver-manager==4.0.1
requests==2.31.0
lxml==5.1.0
